# Copy this file to .env and edit per machine.
#
# Desktop/server machine:
#   DB_MANAGER_URL=http://localhost:8787
#
# Laptop/worker on LAN:
#   DB_MANAGER_URL=http://Office:8787
#
# Later via VPN/Tailscale:
#   DB_MANAGER_URL=http://office:8787

DB_MANAGER_URL=http://localhost:8787
DICTAPI_URL=http://localhost:8788
PROCMAN_URL=http://localhost:8790

#For remote machines
#DB_MANAGER_URL=http://Office:8787
#DICTAPI_URL=http://localhost:8788
#PROCMAN_URL=http://localhost:8790